@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
}

header {
    background-color: #ffc017;
    border-bottom: 1px solid rgb(41, 41, 41);
}

.container {
    max-width: 1200px;
}

.main-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.main-nav a {
    text-decoration: none;
    color: #292929;
    font-size: 14px;
    font-weight: 400;
}

.home-btn {
    padding: 9px 16px;
    color: #ffc017 !important;
    font-size: 14px;
    font-weight: 400;
    background: #191919;
    border: 1px solid #191919;
    border-radius: 1386px;
}

.home-btn:hover {
    border: 1px solid #191919;
    color: #191919 !important;
}

.hero-section {
    background: #ffc017;
    padding-top: 72px;
    border-bottom: 1px solid #292929;
}

.hero-content > h1 {
    color: #080808;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 106px;
    font-weight: 400;
    margin-bottom: 17px;
    line-height: 95px;
}

.hero-content > p {
    color: #292929;
    font-size: 24px;
    line-height: 24px;
    width: 60%;
    margin-bottom: 52px;
}

.hero-content > a {
    background-color: #191919;
    border: 1px solid #191919;
    border-radius: 1980px;
    color: white;
    font-size: 20px;
    padding: 8px 48px;
    text-decoration: none;
    margin-bottom: 92px;
}

.hero-content > a:hover {
    border: 1px solid #191919;
    color: #191919;
}

.trending-news {
    padding: 40px 0;
}

.trending-news > .row {
    row-gap: 44px;
}

.trending-title > span {
    color: #292929;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 10px;
}

.trending-article {
    gap: 24px;
}

.trending-article .number {
    color: #e6e6e6;
    font-size: 28px;
    font-weight: 700;
    line-height: 20px;
}

.trending-article .info {
    margin-bottom: 15px;
}

.trending-article .info img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.trending-article .info p {
    color: #292929;
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
}

.trending-article .title {
    color: #292929;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 13px;
}

.trending-article .date {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}

.trending-article .date span:first-child::after {
    content: '·';
    margin: 0 10px;
}

.main-articles {
    border-top: 1px solid #e6e6e6;
    padding: 57px 160px 0 160px;
}

.main-articles .articles-wrapper {
    margin: 12px 100px 12px 0;
}

.article-card {
    margin-bottom: 48px;
}

.article-picture {
    width: 200px;
    height: 134px;
}

.article-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.article-card .author > img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 8px;
}

.article-card .author > p {
    margin-bottom: 0;
    color: #292929;
    font-size: 12px;
    font-weight: 500;
}

.article-card .content {
    width: 60%;
}

.article-card .content > h3 {
    color: #292929;
    font-size: 21px;
    font-weight: 700;
    line-height: 28px;
    margin-bottom: 4px;
}

.article-card .content > p {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 10px;
}

.article-card .infos > span {
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}

.article-card .infos > span:nth-child(3) {
    background-color: #f2f2f2;
    padding: 5px 15px;
    border-radius: 100px;
    cursor: pointer;
}

.article-card .infos > span:not(:nth-child(3))::after {
    content: '·';
    margin: 0 6px;
}

.article-card .infos > img {
    margin-left: 4px;
    width: 20px;
    height: 20px;
    object-fit: cover;
    cursor: po;
}

.article-tags {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 32px;
}

.article-tags > h4 {
    color: #292929;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    margin-bottom: 22px;
}

.article-tags > div {
    gap: 8px;
}

.article-tags .single-tag {
    color: #757575;
    font-size: 13px;
    font-weight: 400;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    padding: 7px 17px;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
        box-shadow 0.15s ease-in-out;
}

.article-tags .single-tag:hover {
    background-color: #757575;
    color: #e6e6e6;
}

.sidebar-menu {
    padding: 19px 30px 0 0;
    column-gap: 25px;
    row-gap: 8px;
}

.sidebar-menu > a {
    text-decoration: none;
    color: #757575;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.slim-nav {
    border-bottom: 1px solid #ebe9ec;
    background-color: #fefbff;
}

.search-input {
    border-radius: 20px !important;
    width: 240px !important;
    height: 40px !important;
    padding-left: 50px !important;
    padding-right: 20px !important;
    font-size: 13px !important;
    color: rgba(0, 0, 0, 0.8);
    background-color: #f5f2f6;
    border: none;
}

.search-input::placeholder {
    color: #706e72;
}

.search-button {
    position: absolute;
    top: 0;
    left: 0;
}

.slim-nav-menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.slim-nav-menu > *:nth-child(1) {
    margin-right: 32px;
}

.slim-nav-menu > *:nth-child(3) {
    margin-right: 32px;
}

.slim-nav-menu > *:nth-child(2) {
    margin-right: 16px;
}

.slim-nav-link {
    text-decoration: none;
    color: #706e72;
    font-size: 14px;
    line-height: 24px;
    display: flex;
    align-items: center;
}

.main-btn {
    font-size: 13px;
    color: #fff1ff;
    background-color: #bb1a8e;
    border: 1px solid #bb1a8e;
    border-radius: 1386px;
    padding: 4px 12px 6px;
}

.main-btn:hover {
    background: transparent;
    color: #bb1a8e;
    border: 1px solid #bb1a8e;
}

.container-article {
    max-width: 1400px;
    margin: 0 auto;
    margin-bottom: 78px;
}

.main-article-wrapper {
    padding: 0 80px;
}

.main-article-author {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-article-author .author-picture {
    overflow: hidden;
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.main-article-author .author-picture img {
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
}

.main-article-author .details h3 {
    color: #3e3d41;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 5px;
}

.main-article-author .date {
    color: #706e72;
    font-size: 13px;
    font-weight: 400;
}

.main-article-author .date > span:first-child::after {
    content: '·';
    color: #706e72;
    margin: 0 8px;
}

.main-article-author .social-icons {
    padding: 0 10px;
    gap: 30px;
}

.content-title {
    color: #3e3d41;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 9px;
}

.content-subtitle {
    color: #706e72;
    font-size: 21px;
    font-weight: 400;
    margin-bottom: 30px;
}

.content-desc {
    color: #3e3d41;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    margin-bottom: 48px;
}

.main-content > img {
    width: 100%;
    height: auto;
    margin-bottom: 11px;
}

.imgCaption {
    color: #706e72;
    font-size: 13px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 70px;
}

.extra-content {
    width: 90%;
}

.extra-content > h2 {
    color: #3e3d41;
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 10px;
}

.extra-content > p {
    color: #3e3d41;
    font-size: 20px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: -0.06px;
    margin-bottom: 30px;
}

.extra-content > p:last-child {
    margin-bottom: 5px;
}

.social-section {
    padding: 14px 49px 14px 24px;
}

.social-section span {
    color: #706e72;
    font-size: 11px;
    font-weight: 400;
}

.social-section img {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.related-tags {
    padding-top: 8px;
}

.related-tags > div {
    color: #3e3d41;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #ebe9ec;
    padding: 8px 16px;
    border-radius: 100px;
    cursor: pointer;
    transition: 0.15s all ease-in-out;
}

.related-tags > div:hover {
    background-color: #3e3d41;
    color: #ebe9ec;
}

.more-from-author {
    background-color: #f5f2f6;
}

.more-from-author .author-info {
    padding: 32px 24px 4px 24px;
}

.more-from-author .author-info .header h2 {
    color: #3e3d41;
    font-size: 19px;
    font-weight: 500;
}

.follow-btn {
    color: #fff1ff;
    font-size: 13px;
    line-height: 20px;
    background-color: #bb1a8e;
    border: 1px solid #bb1a8e;
    border-radius: 1386px;
    padding: 9px 18px;
    text-decoration: none;
}
.subscribe-btn {
    background-color: #bb1a8e;
    border: 1px solid #bb1a8e;
    border-radius: 50%;
}

.more-from-author .author-info > p {
    color: #706e72;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    width: 65%;
}

.more-article-card {
    padding: 0 24px 43px 0;
}

.more-article-card .date {
    color: #706e72;
    font-size: 13px;
    margin-bottom: 12px;
}

.more-article-card .content {
    width: 65%;
}

.more-article-card .content > h2 {
    color: #3e3d41;
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 10px;
}

.more-article-card .content > p {
    color: #3e3d41;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Source Serif Pro', serif;
    margin-bottom: 18px;
}

.more-article-card .content .infos > span {
    color: #706e72;
    font-size: 12px;
    line-height: 20px;
}

.more-article-card .content .infos .tag {
    color: #3e3d41;
    font-size: 13px;
    line-height: 20px;
    padding: 2px 9px;
    background-color: #ebe9ec;
    border-radius: 100px;
    text-decoration: none;
}

.more-article-card .picture {
    width: 112px;
    height: 112px;
}

.more-article-card .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.more-article-wrapper > hr {
    border: 1px solid #d8d6da;
    margin: 21px 0;
    background-color: #d8d6da;
}

.article-sidebar {
    border-left: 1px solid #ebe9ec;
    padding: 41px 80px 0 41px;
}

.article-sidebar .author-info {
    margin-bottom: 40px;
}

.article-sidebar .author-info .picture {
    width: 88px;
    height: 88px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 15px;
}

.article-sidebar .author-info .picture img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
    object-fit: cover;
}

.article-sidebar .author-info > h4 {
    color: #3e3d41;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 4px;
}

.article-sidebar .author-info > span {
    color: #706e72;
    font-size: 14px;
    margin-bottom: 13px;
    display: block;
}

.article-sidebar .author-info > p {
    color: #706e72;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 24px;
}

.more-from-medium h5 {
    color: #3e3d41;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 26px;
}

.suggested-article-card .content {
    width: 50%;
}

.suggested-article-card .picture {
    width: 56px;
    height: 56px;
    border-radius: 2px;
    overflow: hidden;
}

.suggested-article-card .picture img {
    width: 100%;
    height: 100%;
    display: block;
}

.suggested-article-card .author img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.suggested-article-card .author p {
    color: #3e3d41;
    font-size: 12px;
    margin-bottom: 0;
}

.suggested-article-card .content h5 {
    color: #3e3d41;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
}